code {
    font-size: 0.9em
}

pre {
    font-size: 1em
}

code, pre {
    font-family: 'Roboto Mono',consolas,Menlo,monospace,"PingFang SC","Microsoft YaHei";
}

body {
    font-family: 'Noto Serif SC',"PingFang SC","Microsoft YaHei",sans-serif;
}

.post-title{
    text-align: center;
}

.post-more-link {
    text-align: center;
}

//自定义回到顶部样式
.back-to-top {
  left: 60px;
  width: 70px;  //图片素材宽度
  height: 900px;  //图片素材高度
  top: -900px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("/images/scroll.png");

  //隐藏箭头图标
  > i {
    display: none;
  }

  &.back-to-top-on {
    bottom: unset;
    top: 100vh > (900px + 200px) ? calc( 100vh - 900px - 200px ) : 0px;

  }
  +tablet-mobile() {
    left: -100px;
    opacity: 0;
  }
}